---
BasedOnStyle: LLVM
BinPackArguments: false
BinPackParameters: false
AlignAfterOpenBracket: BlockIndent
MaxEmptyLinesToKeep: 1
AlignOperands: AlignAfterOperator
BreakBeforeBinaryOperators: All
PointerAlignment: Left
AlignConsecutiveAssignments: true
